jupyter
ipykernel
numpy
pandas
scikit-learn
matplotlib
seaborn
nltk
spacy
datasets
transformers
evaluate
torch
rank-bm25==0.2.2
reynir==3.6.1; python_version < "3.13"
tokenizer==3.6.2
islenska==1.1.1
streamlit
